.main{
   margin-bottom: 20px;
   height: 80vh;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    flex-basis: 40%;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 300px;
    height: 400px;
    border: 1px solid yellow;
    border-radius: 5px;
}

.right{
    flex-basis: 60%;
}
span{
color: yellow;
font-size: 28px;
letter-spacing: 0.5px;

}
h3{
margin-top: -15px;
font-size: 20px;
letter-spacing: 0.8px;
}
.detail{
    text-align: justify;
    letter-spacing: 1px;
    line-height: -1px;
    font-size: 16px;
}